.lang-topbar-flag {
	width: 20px;
	height: 12px;
	background-image: url(../images/icons/flag-usa.svg);
}
.person-icons {
	width: 14px;
	height: 15.3px;
	background-image: url(../images/icons/person.svg);
	opacity: 0.6;
}

.topbar {
	background-color: var(--gray-900);
	font-size: 14px;
	line-height: 150%;
	padding: 12px 0;

}
.topbar .container {
	font-weight: 400;
}
.phone-link {
	font-weight: 900;
	padding-left: 4px;
}
nav span {
	color: var(--white);
}
.menu {
	gap: 32px;
	flex-wrap: wrap;
}

.menu-wrap {
	gap: 74px;
	align-items: center;
}
.lang-topbar {	
	gap: 10px;
}
.lang-select {
	border: none;
	background-color: transparent;
	color: var(--white);
	cursor: pointer;
}
.authorization {
	gap: 5px;
}

/* @media (max-width: 1230px) {
	.topbar {
		display: none;
	}

} */
	



/*--------- HEADER ----------*/

.header__menu.d-flex{
	align-items: center;
}

.hero-section {
	align-items: center;
	padding: 20px 0;
}
.hero-section .container {
	align-items: center;
}
img {
	width: 130px;
	height: 22px;
}

.header-nav {
	gap: 40px;
	margin-left: 60px;
}
.link {
	color: var(--gray-800);
	font-weight: 700;
	font-size: 16px;
}
.nav-link_attention {
	color: var(--danger);
}

.search-form {
	margin-left: 80px;
	position: relative;
	display: block;
}

.search-input {
	padding: 0 50px 0 20px;
	width: 380px;
	height: 44px;
	background-color: var(--white);
	border-radius: 4px;
	border: 1px solid #D7DADD;
	font-size: 14px;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 44px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	background-image: url(../images/icons/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s ease-in-out;
}
.search-btn:hover {
	background-color: var(--primary);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.user-info {
	margin-left: 40px;
	gap: 20px;
	padding: 2px 0;
	align-items: center;
}

.user-favorite {
	min-width: 38px;
}

.favorite-link {
	background-image: url(../images/icons/outline.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 20px;
}

.favorite-counter {
	font-size: 16px;
	color: var(--gray-800);
	padding-left: 8px;
}

.user-cart {
	min-width: 53px;
	justify-content: space-between;
}

.cart-link {
	background-image: url(../images/icons/Cart.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 22px;
	width: 22px;
}

.cart-counter {
	color: var(--white);
	padding: 3px 7px;
	background-color: #03CEA4;
	border-radius: 4px;
	color: var(--white);
}

.burger{
	height: 20px;
	width: 30px;
	justify-content: space-between;
	flex-direction: column;
	display: none;
	position: relative;
}

.burger__item{
	height: 4px;
	border-radius: 5px;
	width: 100%;
	background-color: black;
	transition: all 0.4s;
}

#burger-2{
	transition: none;
}

.active-burger #burger-1{
	transform: rotateZ(45deg);
	position: absolute;
	top: 8px;
}

.active-burger #burger-2{
	opacity: 0;
}

.active-burger #burger-3{
	transform: rotateZ(-45deg);
	position: absolute;
	bottom: 8px;
}

/* --------- Slider-offers -----------*/

.special-offers {
	background-color: var(--primary);
	padding: 8px 0;
	margin: 0 auto;
	text-align: center;
	color: var(--white);
}

.offers-text {
	font-weight: 900;
	font-size: 12px;
}

.offers-link {
	font-weight: 400;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 4px;
}


/*-------стрілки------*/



.main {
	padding: 140px 0 180px;
	width: 100%;
	min-height: 800px;
	background: url(../images/image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.main .container{
	overflow: hidden;
}


.main>.swiper-horizontal>.swiper-pagination-bullets, .main .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom {
	bottom: 240px;
	top: auto;
	left: calc(50% - 615px);
	width: fit-content;
}


.subtitle {
	font-weight: 700;
	font-size: 18px;
	color: var(--gray-900);
}

.title {
	margin-top: 12px;
	margin-bottom: 60px;
	font-weight: 900;
	font-size: 72px;
	color: var(--gray-900);
}

.main-btn.btn-full {
	margin-left: 24px;
}

.custom-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
 }
 
 .custom-pagination .swiper-pagination-bullet {
	width: 178px;
	border-radius: 0;
	height: 24px;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	color: var(--gray-800, #424551);
	font-size: 28px;
	font-weight: 700;
	line-height: 0;
	text-align: left;
	background: none;
	border-bottom: 2px solid #424551;
 }
 
 .custom-pagination .swiper-pagination-bullet-active {
	color: black;
	background: none;
 }





