@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins&display=swap');
@import url(_variables.css);
@import url(_hero.css);
@import url(_sections.css);



:root {
    --primary: #17696A;
    --gray-900: #1E212C;
    --danger: #FF4242;
    --white: #fff;
    --gray-800: #424551;
    --gray-700: #787A80;
    --main-font: 'Lato', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

.active-body{
	overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--white);
}

ul, li {
    list-style-type:none;
}
input {
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}

.opacity {
    opacity: 0.6;
}

.btn-transparent {
    border-radius: 4px;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.btn-full {
    border-radius: 4px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
}

.btn-transparent-large {
    font-size: 16px;
	padding: 0 40px;
    line-height: 52px;
}

.btn-full-large {
    font-size: 16px;
	padding: 0 40px;
    line-height: 52px;
}

.btn-transparent-regular {
    font-size: 14px;
	padding: 0 32px;
    line-height: 44px;
}

.btn-full-regular {
    border-radius: 4px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
    font-size: 14px;
	padding: 0 32px;
    letter-spacing: 0.5px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}

.container-main-page {
    max-width: 1230px;
    padding: 0;
    margin: 0 auto;
}


.lang-topbar-flag {
	width: 20px;
	height: 12px;
	background-image: url(../images/icons/flag-usa.svg);
}
.person-icons {
	width: 14px;
	height: 15.3px;
	background-image: url(../images/icons/person.svg);
	opacity: 0.6;
}

.topbar {
	background-color: var(--gray-900);
	font-size: 14px;
	line-height: 150%;
	padding: 12px 0;

}
.topbar .container {
	font-weight: 400;
}
.phone-link {
	font-weight: 900;
	padding-left: 4px;
}
nav span {
	color: var(--white);
}
.menu {
	gap: 32px;
	flex-wrap: wrap;
}

.menu-wrap {
	gap: 74px;
	align-items: center;
}
.lang-topbar {	
	gap: 10px;
}
.lang-select {
	border: none;
	background-color: transparent;
	color: var(--white);
	cursor: pointer;
}
.authorization {
	gap: 5px;
}

/* @media (max-width: 1230px) {
	.topbar {
		display: none;
	}

} */
	



/*--------- HEADER ----------*/

.header__menu.d-flex{
	align-items: center;
}

.hero-section {
	align-items: center;
	padding: 20px 0;
}
.hero-section .container {
	align-items: center;
}
img {
	width: 130px;
	height: 22px;
}

.header-nav {
	gap: 40px;
	margin-left: 60px;
}
.link {
	color: var(--gray-800);
	font-weight: 700;
	font-size: 16px;
}
.nav-link_attention {
	color: var(--danger);
}

.search-form {
	margin-left: 80px;
	position: relative;
	display: block;
}

.search-input {
	padding: 0 50px 0 20px;
	width: 380px;
	height: 44px;
	background-color: var(--white);
	border-radius: 4px;
	border: 1px solid #D7DADD;
	font-size: 14px;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 44px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	background-image: url(../images/icons/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s ease-in-out;
}
.search-btn:hover {
	background-color: var(--primary);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.user-info {
	margin-left: 40px;
	gap: 20px;
	padding: 2px 0;
	align-items: center;
}

.user-favorite {
	min-width: 38px;
}

.favorite-link {
	background-image: url(../images/icons/outline.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 20px;
}

.favorite-counter {
	font-size: 16px;
	color: var(--gray-800);
	padding-left: 8px;
}

.user-cart {
	min-width: 53px;
	justify-content: space-between;
}

.cart-link {
	background-image: url(../images/icons/Cart.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 22px;
	width: 22px;
}

.cart-counter {
	color: var(--white);
	padding: 3px 7px;
	background-color: #03CEA4;
	border-radius: 4px;
	color: var(--white);
}

.burger{
	height: 20px;
	width: 30px;
	justify-content: space-between;
	flex-direction: column;
	display: none;
	position: relative;
}

.burger__item{
	height: 4px;
	border-radius: 5px;
	width: 100%;
	background-color: black;
	transition: all 0.4s;
}

#burger-2{
	transition: none;
}

.active-burger #burger-1{
	transform: rotateZ(45deg);
	position: absolute;
	top: 8px;
}

.active-burger #burger-2{
	opacity: 0;
}

.active-burger #burger-3{
	transform: rotateZ(-45deg);
	position: absolute;
	bottom: 8px;
}

/* --------- Slider-offers -----------*/

.special-offers {
	background-color: var(--primary);
	padding: 8px 0;
	margin: 0 auto;
	text-align: center;
	color: var(--white);
}

.offers-text {
	font-weight: 900;
	font-size: 12px;
}

.offers-link {
	font-weight: 400;
	font-size: 12px;
	text-decoration: underline;
	margin-left: 4px;
}


/*-------стрілки------*/



.main {
	padding: 140px 0 180px;
	width: 100%;
	min-height: 800px;
	background: url(../images/image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.main .container{
	overflow: hidden;
}


.main>.swiper-horizontal>.swiper-pagination-bullets, .main .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom {
	bottom: 240px;
	top: auto;
	left: calc(50% - 615px);
	width: fit-content;
}


.subtitle {
	font-weight: 700;
	font-size: 18px;
	color: var(--gray-900);
}

.title {
	margin-top: 12px;
	margin-bottom: 60px;
	font-weight: 900;
	font-size: 72px;
	color: var(--gray-900);
}

.main-btn.btn-full {
	margin-left: 24px;
}

.custom-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
 
.custom-pagination .swiper-pagination-bullet {
	width: 178px;
	border-radius: 0;
	height: 24px;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	color: var(--gray-800, #424551);
	font-size: 28px;
	font-weight: 700;
	line-height: 0;
	text-align: left;
	background: none;
	border-bottom: 2px solid #424551;
}
 
.custom-pagination .swiper-pagination-bullet-active {
	color: black;
	background: none;
}

.catigories {
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    z-index: 2;
    height: 390px;
    /*width: 100%; */
}

.catigories-img{
    display: block;
    height: 390px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.catigories-title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--gray-800);
} 

/*---------- NEW-ARRIVALS ----------*/

.new-arrivals-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--gray-900);
    text-align: center;
    margin-top: 110px;
    margin-bottom: 24px;
}

.new-arrivals-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-700);
    margin-bottom: 60px;
}
.new-arrivals-link {
    color: var(--primary);
    text-decoration: underline;
}
.arrivals-slider {
    padding: 0 30px;
}
.swiper-wrapper {
    justify-content: space-between;
}
.arrivals-card {
    max-height: 413px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    max-width: 285px;
}
.card-rating {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
}

.card-arrivals{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rating-img {
    display: block;
    width: 14px;
    height: 14px;
}
.rating-active {
    background: url(../images/icons/star.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.rating-none {
    background: url(../images/icons/star_outline.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-img-arrivals {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.btn-favorite {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}
.btn-favorite::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/outline.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.btn-favorite:hover {
    background-color: red;
}
.card-text {
    height: 100px;
    padding: 16px;
}
.card-title {
    font-size: 18px;
    font-weight: 400;
    color: var(--gray-800);
    margin-bottom: 8px;
}
.arrivals-card-price {
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
}








/*---------BANNERS---------*/

.banner {
    padding: 180px 30px;
}
.banner-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}
.banner-wrapper:last-child {
    margin-bottom: 0;
}
.small-banner, .bigger-banner {
    position: relative;
    padding: 60px 0 60px 60px;
}
.small-banner {
    position: relative;
    flex-grow: 1;
    flex-basis: 735px;
    height: 500px;
	padding: 50px;
}
.img-small-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
}
.bigger-banner {
    position: relative;
    flex-grow: 1.6;
    flex-basis: 1009px;
}
.img-bigger-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
}


.banner-title {
    color: var(--gray-900);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.banner-subtitle {
    color: var(--gray-900);
    font-size: 32px;
    font-weight: 900;
    line-height: 130%;
}
.banner-timer {
    position: absolute;
    bottom: 60px;
}
.timer-text {
    color: var(--gray-900);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: 1px;
    text-transform: uppercase;
}
.timer-time {
    display: flex;
    gap: 24px;
    color: var(--gray-900);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%
}

.timer-time span {
    position: relative;
    margin-top: 12px;
    gap: 27px;
    font-weight: 700;
    font-size: 28px;
    color: #1E212C;
}
.timer-time span::after {
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 14px;
}
.timer-day::after {
    content: 'Days';
}
.timer-housr::after {
    content: 'Hours';
}
.timer-minutes::after {
    content: 'Mins';
}
.timer-seconds::after {
    content: 'Sec';
}
.banner-btn {
    margin-top: 40px;

}

.label-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--gray-800);
    font-size: 14px;
    font-weight: 400;
    max-width: 360px;
}
.input-form {
    padding: 11px 16px;
    font-weight: 400;
    font-size: 14px;
    height: 45px;
    max-width: 230px;
}
.input-form::placeholder {
    color:#9A9CA5;
}
.form-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px 4px 4px 0px;
}
.banner-request {
    display: block;
    margin-top: 20px;
    color: var(--gray-800);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    max-width: 360px;
}





/*----------POPULAR-CATEGORIES---------*/

.popular-categories {
    padding-bottom: 180px;
}
.popular-categories_title {
    color: var(--gray-900);
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    text-align: center;
    padding-bottom: 60px;
}
.popular-categories_list {
    flex-wrap: wrap;
    gap: 30px;
}
.popular-categories_img {
    width: 180px;
    height: 180px;
    display: block;
    border-radius: 50%;
    margin-bottom: 24px;
}
.popular-categories_subtitle {
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}


/*---------TRENDING-NOW---------*/
.trending {
    padding: 80px 0;
    background-color: #E5E8ED;
}
.trending-title {
    color: var(--gray-900);
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 60px;
}



.trending-swiper {
    justify-content: space-between;
    gap: 30px;
}
.trending-card {
    max-height: 538px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    max-width: 390px;
}
.card-rating {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
}
.rating-img {
    display: block;
    width: 14px;
    height: 14px;
}
.rating-active {
    background: url(../images/icons/star.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.rating-none {
    background: url(../images/icons/star_outline.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-img {
    width: 100%;
    height: 440px;
    object-fit: cover;
}
.btn-favorite {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}
.btn-favorite::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/outline.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.btn-favorite:hover {
    background-color: red;
}
.card-text {
    height: 100px;
    padding: 16px;
}
.card-title {
    font-size: 18px;
    font-weight: 400;
    color: var(--gray-800);
    margin-bottom: 8px;
}

.trending-card-price {
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
}

.trending-btn {
    display: block;
    margin: 80px auto 0;
}




/*-----------SALE----------*/

.sale {
	padding: 100px 0 80px;
	position: relative;
}
.sale-title {
    color: var(--gray-900);
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 60px;
}

.sale-swiper{
	overflow: hidden;
	padding: 0 10px;
}

.sale-swiper .d-flex {
    justify-content: space-between;
	 height: 670px;
}
.sale-card-product {
    max-height: 538px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    max-width: 390px;
}

.discount {
    position: absolute;
    left: 16px;
    top: 16px;
    padding: 0 8px;
    background-color: var(--danger);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%; 
}
.discount span {
    color: #fff;
}

.card-rating {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
}
.rating-img {
    display: block;
    width: 14px;
    height: 14px;
}
.rating-active {
    background: url(../images/icons/star.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.rating-none {
    background: url(../images/icons/star_outline.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card-img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 4px;
}
.btn-favorite {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out background-color;
}
.btn-favorite::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/outline.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.btn-favorite:hover {
    background-color: red;
}
.card-text {
    cursor: pointer;
    height: 190px;
}
.card-title {
    font-size: 17px;
    font-weight: 400;
    color: var(--gray-800);
    margin-bottom: 8px;
}
.sale-price {
    display: flex;
    align-items: center;
}
.card-price-sale {
    color: var(--danger);
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    margin-right: 12px
}
.card-price {
    color: var(--gray-700);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: line-through;
    text-decoration-line: strikethrough;
}

.card-bottom-sale {
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-bottom-show {
	overflow: hidden;
    padding: 0 16px 16px 16px;
	margin: 0 auto;
    margin-top: 20px;
	max-height: 536px;
	border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 
    0px 12px 10px -6px rgba(154, 156, 165, 0.08), 
    0px 30px 24px -10px rgba(154, 156, 165, 0.10), 
    0px 80px 80px -20px rgba(154, 156, 165, 0.16);
	transition: all 0.4s;
	width: fit-content;
}

.card-bottom-show:hover{
	max-height: 646px;
}

.card-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-input-size label {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-800);
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
}
.card-input-size label:not(:last-child) {
    margin-right: 8px;
}

.card-input-size input {
    padding: 0;
    margin: 0;
    appearance: none;
}

input:checked ~ .input-chose {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.card-color {
    display: flex;
}

.card-input-color label {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    font-weight: 400;
    font-size: 12px;
    color: #424551;
    cursor: pointer;
}
.card-input-color label:not(:last-child) {
    margin-right: 8px;
}

.card-input-color input {
    padding: 0;
    margin: 0;
    appearance: none;
}

.card-input-color input:checked ~ .input-chose {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 50%;
}
.black {
    background-color: black;
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.brown {
    background-color: brown;
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.lightblue {
    background-color: lightblue;
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.sale-btn-product {
    width: 100%;
    margin-top: 20px;
    position: relative;
    padding: 0 auto;
}
.sale-btn-product::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% - 64px);
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    background: url(../images/icons/cart-btn.svg);
}

.sale-btn {
    display: block;
    margin: 15px auto 150px;
}




/*---------APP-STORE--------*/






.store-app {
    background-color: var(--gray-900);
}
.store-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}
.store-image {
    flex-shrink: 0;
    flex-basis: 490px;
    height: 330px;
    position: relative;
}
.store-image img {
    position: relative;
    top: -30px;
    width: 100%;
    height: auto;
}
.store-title {
    color: #fff;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
}
.store-link-apple,
.store-link-android {
    display: inline-block;
    width: 162px;
    height: 48px;
    transform: rotate(0deg); 
    margin-top: 48px;
}
.store-link-apple {
    background: url("../images/icons/app-store.svg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.store-link-android {
    background: url("../images/icons/google-play.svg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/*----------- PRIVILEDES-----------*/

.privileges {
    margin-top: 120px; 
}

.privileges-list {
    gap: 90px;

}
.privileges-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 240px;
}
.privileges-item:not(:last-child):after {
    content: '';
    position: absolute;
    right: -25%;
    width: 1px;
    height: 100%;
    background: linear-gradient(270deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
}

.privileges-img {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
    cursor: pointer;
}
.privileges-title {
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.privileges-description {
    color: var(--gray-700);
    font-size: 16px;
    font-weight: 400;
}







/*------------follow-us------------*/


.follow-us {
    margin-top: 180px;
    margin-bottom: 180px;
}

.container {
    gap: 30px;
}
.follow-us-title {
    color: var(--gray-900);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.follow-us-title span {
    margin-top: 8px;
    text-transform: none;
    font-size: 46px;
    font-weight: 900;
}
.btn-follow-us {
    margin-top: 60px;
    position: relative;
    padding: 0 100px;
}
.btn-follow-us::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: url(../images/icons/Instagram.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.follow-us-right {
    gap: 15px;
	 flex-wrap: wrap;
}
.follow-us-img {
    width: 260px;
    height: 260px;
}




/*------------fashin-blog-------------*/

.fashin-blog {
    margin-top: 90px;
    margin-bottom: 90px;
}
.fashin-blog-top {
    align-items: center;
}
.fashin-blog-title {
    color: var(--gray-900);
    font-size: 46px;
    font-weight: 900;
}
.btn-fashin-blog {
    display: inline-block;
}
.fashin-blog-content {
    margin-top: 60px;
    gap: 30px;
}
.fashin-blog-content-item {
    min-height: 482px;
    border-radius: 4px;
    background: var(--white);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 
    0px 12px 10px -6px rgba(154, 156, 165, 0.04), 
    0px 30px 24px -10px rgba(154, 156, 165, 0.05), 
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.item-img {
    width: 100%;
    height: 306px;
    object-fit: cover;
}
.item-content {
    padding: 24px 24px 24px 21px;
}
.item-title {
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
}
.item-title:hover {
    cursor: pointer;
    color: var(--primary);
}
.item-info {
    margin-top: 12px;
    color: var(--gray-700);
    font-size: 14px;
    font-weight: 400;
}
.item-categories, .item-date {
    margin-right: 24px;
    position: relative;
}
.item-categories::after, .item-date::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
    width: 1px;
    height: 12px;
    background-color: #787A80;
    border-radius: 3px;
}
.item-comments {
    margin-left: 12px;
    position: relative;
}
.item-comments::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    width: 16px;
    height: 16px;
    background: url(../images/icons/Chat.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.item-privileges {
    margin-top: 16px;
    color: var(--gray-800);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

/*-----------pertners---------*/


.partners {
    margin-top: 30px;
    margin-bottom: 120px;
}
.partners-list {
    gap: 102px;
    flex-wrap: wrap;
}
.partners-logo {
    width: 120px;
    height: 64px;
}


/*-----------subscribe-----------*/

.subscribe {
    margin-top: 120px;
    padding: 65px 0;
    background: #F4F5F6;
}

.subscribe-left {
    align-items: center;
}
.subscribe-title {
    color: var(--gray-900);
    font-size: 46px;
    font-weight: 900;
}
.subscribe-subtitle {
    margin-top: 24px;
    color: var(--gray-700);
    font-size: 20px;
    font-weight: 400;
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.subscribe-checkbox {
    display: flex;
    gap: 12px;
}
.checkbox-name {
    color: var(--gray-700);
    font-size: 14px;
    font-weight: 700;
}
.subscribe-checkbox label {
    padding: 5.5px 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #D7DADD;
    position: relative;
}

.subscribe-checkbox-input {
    appearance: none;
}
.subscribe-checkbox-input:checked ~ .checkbox-checked {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
}
.subscribe-checkbox-input:checked ~ .checkbox-name {
    position: relative;
    color: #fff;
}
.subscribe-email {
    margin-top: 32px;
}
.subscribe-email span {
    color: var(--gray-800);
    font-size: 16px;
    font-weight: 400;
}
.subscribe-email-input {
    padding: 13px 16px;
    width: 342px;
    margin-top: 8px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #D7DADD; 
}
.subscribe-email-input::placeholder {
    font-weight: 400;
    font-size: 16px;
}
.btn-subscribe-submit {
    height: 47px;
    margin-left: -4px;
    padding: 0 40px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.subscribe-agreement {
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.agreement-checkbox {
    width: 16px;
    height: 16px;
}
.agreement-checkbox:checked {
    accent-color: var(--primary);
}

.subscribe-right {
    width: 461px;
    height: 416px;
}

.subscribe-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*---------FOOTER-------*/

.footer {
    padding: 60px 0 40px;
    background: var(--gray-900);
}

.help-title, .shop-title, .contacts-title, .download-title {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.help-item:not(:last-child) {
    margin-bottom: 4px;
}
.help-item, .shop-item, .phone-link, .email-link {
    opacity: 0.6;
}
.shop-item:not(:last-child) {
    margin-bottom: 4px;
}
.address-phone {
    display: inline-block;
    margin-bottom: 4px;
}
.address-phone, .address-email {
    color: #fff;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.contacts-social {
    margin-top: 24px;
    max-width: 208px;
    gap: 12px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #303444;
    border-radius: 4px;
}

.download-title {
    margin-bottom: 24px;
}

.download-img-apple, .download-img-android {
    width: 162px;
    height: 48px;
}
.download-link-apple {
    margin-right: 20px;
}



/*---------ALL-RIGHTS--------*/

.all-rights {
    background-color: var(--gray-900);
    padding: 24px 0 32px;
}
.all-rights .container {
    align-items: center;
}
.all-rights-left {
    display: flex;
    gap: 24px;
}
.all-rights-text {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
}
.link-studio {
    position: relative;
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
}
.link-studio::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    width: 16px;
    height: 16px;
    background: url(../images/icons/heart_green.svg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.link-studio:hover {
    color: var(--primary);
}

.all-rights-link-top {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.6;
    cursor: pointer;
}
.all-rights-link-top:hover {
    opacity: 1;
    color: var(--primary);
}



@media all and (max-width: 1240px) {
	.burger{
		display: flex;
		position: relative;
		z-index: 100;
	}
	.custom-pagination{
		display: none;
	}
	.header__menu{
		padding: 58px 15px;
		opacity: 0;
		z-index: -1;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #ffffff;
		height: 100vh;
		transition: all 0.4s;
		width: 100%;
	}
	.search-input{
		width: 100%;
	}
	.header__menu.d-flex{
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	.header-nav.d-flex{
		flex-direction: column;
		align-items: center;
	}

	.search{
		order: 1;
	}
	.search-form{
		margin-left: 0;
		margin-bottom: 40px;
	}
	.header-nav{
		margin: 0;
	}

	.user-info{
		margin-left: 0;
		margin-bottom: 40px;
	}
	.link{
		font-size: 24px;
	}
	.store-title a{
		margin-top: 20px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		display: block; 
		top: 130px;
		right: 50px;
		left: auto;
	}
	.swiper-button-prev{
		right: 160px;
	}

	.main .swiper-button-prev,
	.main .swiper-button-next {
		display: none; 
	}
}

@media all and (max-width: 980px) {
	#bunner-submit{
		position: static;
	}
	#bunner_input{
		max-width: 100%;
	} 
	#banner-container{
		display: block;
		margin-bottom: 0;
	}
	.banner-content{
		margin-bottom: 15px;
	}
	#banner-container .banner-timer {
		position: static;
		margin-top: 20px;
	}
	#black-menu{
		display: none;
	}
	.store-wrapper{
		gap: 15px;
	}

}

@media all and (max-width: 980px) {
	.store-image{
		display: none;
	}
	.store-title{
		text-align: center;
	}
	.store-app{
		padding: 30px 0;
	}
}

@media all and (max-width: 780px) {
	.privileges-list {
		flex-wrap: wrap;
	}
	.privileges-item:not(:last-child):after{
		display: none;
	}
	.follow-us .d-flex{
		display: block;
	}
	.follow-us-title{
		text-align: center;
	}
	.follow-us-title span{
		font-size: 30px;
	}
	.btn-follow-us{
		display: block;
		margin: 60px auto 0;
	}
	.follow-us-right{
		margin: 60px auto 0;
	} 
	.follow-us-img{
		display: block;
		margin: 20px auto 0;
	}
	.btn-subscribe-submit{
		margin-left: 0;
		border-radius: 4px;
		margin-top: 20px;
		width: 100%;
	}
	.trending-swiper{
		flex-wrap: wrap;
	}
	.card-trending{
		margin: 0 auto;
	}
	.trending-title{
		text-align: center;
	}
	footer .d-flex{
		flex-wrap: wrap;
	}
}

@media all and (max-width: 600px) {
	.phone{
		display: none;
	}
	.privileges-item {
		margin: 0 auto;
	}
	.swiper-button-prev,
	.swiper-button-next {
		display: none; 
	}
	.sale-title{
		text-align: center;
	}
	.fashin-blog-content{
		display: block;
	}
	.subscribe-right{
		display: none;
	}
	.subscribe-left{
		margin: 0 auto;
	}
	.subscribe-email-input{
		width: 100%;
	}
	.partners-item, .popular-categories-item, .menu-wrap {
		margin: 0 auto;
	}
	.title{
		font-size: 46px;
	}
	.main-btn.btn-full{
		margin-left: 0;
		margin-top: 20px;
	}
	.subscribe-checkbox{
		gap: 2px;
	}
	.custom-pagination .swiper-pagination-bullet {
		width:50px;
	}
	.card-title{
		height: 25px;
		width: 220px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.active-menu{
	opacity: 1;
	z-index: 10;
}


